.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

body {
  background-color: #ffffff;
  @extend %opensans-400;
  font-size: 14px;
  line-height: 1.6;
  color: $black;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1320px;
  width: 100%;
}

.title {
  @extend %ruda-600;
  color: $dark-900;
  font-size: 32px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.products,
.special,
.brands {
  padding: 72px 0;
}

