.advantages {
  background-color: $silver-100;

  &__inner {
    padding: 50px 0 30px;
    display: flex;
    justify-content: center;

    @include mq("tablet", max) {
      padding: 30px 0;
      align-items: center;
      flex-direction: column;
    }

    @include mq("phone", max) {
      align-items: flex-start;
    }
  }

  &__item {
    position: relative;
    max-width: 260px;
    width: 100%;
    padding-left: 75px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 50px 49px;
    background-position: top left;

    @include mq("phone", max) {
      max-width: 100%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 65px;

      @include mq("tablet", max) {
        margin-right: 0;
        margin-bottom: 50px;
      }

      @include mq("phone", max) {
        margin-bottom: 30px;
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    fill: $green-900;
  }

  &__title {
    color: $dark-900;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 7px;
  }

  &__text {
    color: $dark-500;
    line-height: 1.4;
  }
}
