.burger-menu {
  display: none;
  margin-right: auto;
  padding-left: 7px;

  &__img {
    stroke: $white;
    stroke-width: 2;
    pointer-events: none;
  }

  &__btn {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 20px;
  }

  &__close-btn {
    right: 15px;
  }

  &__header {
    padding: 25px 26px 26px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ebebeb;
    border-bottom: transparent;
  }

  &__content {
    z-index: 15;
    display: none;
    position: fixed;
    background-color: $white; 
    width: 300px;
    top: 0;
    left: 0;

    &--active {
      @include mq("tablet", max) {
        display: block;
        bottom: 0;
        overflow-y: auto;
      }
    }
  }

  &__login {
    background-color: $green-900;
    display: flex;
    padding: 8px 15px;
    width: 100%;
  }

  &__login-img {
    display: inline;
    margin-right: 15px;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    @extend %opensans-400;
    text-transform: none;
    font-size: 18px;
    line-height: 1;
  }

  &__link:first-child {
    padding-right: 40px;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 18px;
      background-color: #ffffff;
      right: 20px;
      top: 8px;
    }
  }

  &__dropdown.dropdown {
    height: 48px;
    width: 100%;
    color: $dark-800;
    font-size: 18px;
    line-height: 1;
    text-transform: none;
    padding-left: 56px;
    border-radius: 0;
    border: 1px solid #ebebeb;
    border-top: none;
    background-color: #ffffff;
    fill: #000;
  }

  @include mq("tablet", max) {
    display: inherit;
  }
}
