<aside class="cart">
  <div class="cart__header">
    <div class="cart__title">Корзина</div>
    <button class="cart__close-btn" type="button">
      <svg class="cart__close-btn-img" width="24" height="24" fill="#31352B">
        <use xlink:href="images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <button class="cart__clean-btn" type="button">очистить корзину</button>
  </div>

  <div class="cart__content">

    <ul class="cart__items">

      <li class="cart__item">
        <article class="product product--cart">
          <button class="product__close-btn" type="button">
            <svg class="product__close-btn-img" width="12" height="12" fill="#C1C1C1">
              <use xlink:href="images/sprite.svg#icon-close"></use>
            </svg>
          </button>

          <img class="product__img product__img--cart" src="images/products/product-15.jpg" alt="товар">

          <div class="product__info product__info--cart">
            <h3 class="product__item-title product__item-title--cart">Ананас, 1 кг</h3>

            <div class="product__box">
              <div class="product__price">
                <span class="product__price--new">999<span class="product__price--currency">₽</span></span>
              </div>
            </div>
          </div>

          <form class="product__counter product__counter--cart">
            <label class="product__counter-label sr-only" for="product-counter">Введите количество: </label>
            <button class='product__counter-minus-btn' type="button">
              <svg class="product__counter-btn-image" width="16" height="16" fill="#ffffff">
                <use xlink:href="images/sprite.svg#icon-minus-btn"></use>
              </svg>
            </button>

            <input class="product__counter-input" id="product-counter" type="number" value="1" min="0" max="99"
                   required>
            <button class='product__counter-plus-btn' type="button">
              <svg class="product__counter-btn-image" width="16" height="16" fill="#ffffff">
                <use xlink:href="images/sprite.svg#icon-plus-btn"></use>
              </svg>
            </button>
          </form>

          <span class="product__price--cart">999<span class="product__price--currency">₽</span></span>

        </article>
      </li>

      <li class="cart__item">
        <article class="product  product--cart">
          <button class="product__close-btn" type="button">
            <svg class="product__close-btn-img" width="12" height="12" fill="#C1C1C1">
              <use xlink:href="images/sprite.svg#icon-close"></use>
            </svg>
          </button>

          <img class="product__img product__img--cart" src="images/products/product-3.jpg" alt="товар">

          <div class="product__info product__info--cart">
            <h3 class="product__item-title product__item-title--cart">Питахайя красная с белой мякотью, 1шт</h3>

            <div class="product__box">
              <div class="product__price">
                <span class="product__price--new">999<span class="product__price--currency">₽</span></span>
              </div>
            </div>
          </div>

          <form class="product__counter product__counter--cart">
            <label class="product__counter-label sr-only" for="product2-counter">Введите количество: </label>
            <button class='product__counter-minus-btn' type="button">
              <svg class="product__counter-btn-image" width="16" height="16" fill="#ffffff">
                <use xlink:href="images/sprite.svg#icon-minus-btn"></use>
              </svg>
            </button>
            <input class="product__counter-input" id="product2-counter" type="number" value="1" min="0" max="99"
                   required>
            <button class='product__counter-plus-btn' type="button">
              <svg class="product__counter-btn-image" width="16" height="16" fill="#ffffff">
                <use xlink:href="images/sprite.svg#icon-plus-btn"></use>
              </svg>
            </button>
          </form>

          <span class="product__price--cart">999<span class="product__price--currency">₽</span></span>

        </article>
      </li>

    </ul>

    <div class="cart__total">
      <p class="cart__total-name">Товаров на сумму</p>
      <div class="cart__total-cost product__price--cart">2038<span class="cart__total-cost--currency">₽</span></div>
      <a class="cart__checkout-btn button" href="#">Оформить заказ</a>
    </div>
  </div>



</aside>  