<section class="slider">
  <h2 class="slider__title sr-only">Скидки и акции</h2>
  <ul class="slider__inner">
    <li class="slider__item" style="background-image: url(images/slider/slider-img-1.jpg);">

      <div class="container">
        <div class="slider__content">
          <h3 class="slider__content-title">свежачок вам в хату<span>Скидка -50%</span></h3>
          <p class="slider__content-text">Только с 7 по 13 июля скидка на сезонные фрукты и овощи до 50%.
            Торопитесь!
          </p>
          <a class="button" href="#">Купить сейчас</a>
        </div>
      </div>
    </li>

    <li class="slider__item" style="background-image: url(images/slider/slider-img-2.jpg);">

      <div class="container">
        <div class="slider__content">
          <h3 class="slider__content-title">накрути себе томатов <span>акция: 3 кг по цене 1</span></h3>
          <p class="slider__content-text">Только с 12 по 15 июля скидка на домашние помидорчики</p>
          <a class="button" href="#">Купить сейчас</a>
        </div>
      </div>
    </li>

    <li class="slider__item" style="background-image: url(images/slider/slider-img-3.jpg);">

      <div class="container">
        <div class="slider__content">
          <h3 class="slider__content-title">Пусть остальные позеленеют от зависти <span>Распродажа зелени</span>
          </h3>
          <a class="button" href="#">Купить сейчас</a>
        </div>
      </div>
    </li>
  </ul>
</section>