.banners {
  padding: 0 0 72px;

  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 30px;

    @include mq("tablet-2", max) {
      max-width: 630px;
      gap: 30px;
      margin: 0 auto;
    }

    @include mq("phone", max) {
      max-width: 345px;
      gap: 15px 0;
    }
  }

  &__item {
    text-transform: uppercase;
    padding: 76px 32px;
    color: $dark-500;
    border-radius: 6px;
    height: 300px;
    max-width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;

    flex-grow: 1;

    &--first {
      flex-grow: 2;
      max-width: 630px;
      color: $white;

      @include mq("phone", max) {
        background-position-x: -51px;
      }
    }

    @include mq("phone", max) {
      max-width: 345px;
      padding: 76px 15px 30px; 
    }
  }

  &__link,
  &__subtitle {
    @extend %opensans-700;

    &--first {
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    }
  }

  &__link {
    display: inline-block;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 2px solid $dark-500;
    font-size: 14px;
    line-height: 1;
    transition: color 0.3s, border-color 0.3s;

    &:hover {
      color: $green-900;
      border-color: $green-900;
    }

    &--first {
      border-color: $white;
    }
  }

  &__subtitle {
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.1em;
    margin-bottom: 18px;

    @include mq("phone", max) {
      margin-bottom: 15px;
    }
  }

  &__title {
    @extend %ruda-600;
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 8px;
    max-width: 160px;

    &--first {
      max-width: 350px;
      text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);

      @include mq("phone", max) {
        max-width: 230px;
      }
    }

    @include mq("phone", max) {
      margin-bottom: 73px;
      font-size: 24px;
    }
  }

  @include mq('phone', max) {
    padding: 0 0 48px;
  }
}
