.brands {
  &__inner {
    .slick-list {
      min-width: 100%;
      min-height: 100%; 
    }

    .slick-track {
      margin: 0 55px;
      display: flex;
      justify-content: space-between;
    }
  }

  &__item {
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    min-height: 60px;
    height: 100%;
    margin-right: 140px;
    transition: opacity 0.3s;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    
    @include mq('tablet', max) {
      margin-right: 93px;
      }
  }

  @include mq('tablet', max) {
    padding: 46px 0;
  }

  .slick-slide{
    max-width: 80px;
  }
}
