.cart {
  height: 100vh;
  max-width: 475px;
  width: 100%;
  background-color: $white;
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  letter-spacing: 0.03em;

  &::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.15);
  }

  &--active {
    visibility: visible;
    opacity: 1;

    @include mq("phone", max) {
      height: calc(100vh - 112px);
      top: 112px;
    }
  }

  &__items {
    padding: 12px;
    overflow-y: auto;
    padding-bottom: 250px;
    height: inherit;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 12px;

      @include mq("phone", max) {
       margin-bottom: 6px;
      }
    }
  }

  &__header {
    padding: 20px 26px 12px 24px;
    letter-spacing: 0.03em;
    border: 1px solid rgba($silver-600, 0.3);
    line-height: 1.2;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include mq("phone", max) {
      padding: 22px 26px 16px 15px;
    }
  }

  &__title {
    @extend %opensans-400;
    font-size: 24px;
    margin-bottom: 12px;

    @include mq("phone", max) {
      font-size: 18px;
    }
  }

  &__close-btn {
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    border: none;
    transition: background-color 0.15s;

    @include mq("phone", max) {
      width: 18px;
      height: 18px;
    }

    svg {
      transition: fill 0.15s;
    }

    &:hover {
      background-color: $green-200;

      svg {
        fill: $green-900;
      }
    }

    &:active {
      background-color: rgba($silver-600, 0.3);

      svg {
        fill: $black;
      }
    }
  }

  &__clean-btn {
    font-size: 14px;
    width: 100%;
    background-color: transparent;
    border: transparent;
    display: inline-flex;
  }

  &__content {
    height: 100%;
    background-color: $silver-100;
  }

  &__total {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $white;
  }

  &__total-name {
    @extend %opensans-400;
    font-size: 24px;
    line-height: 1.2;
    padding: 24px;

    @include mq("phone", max) {
      font-size: 14px;
      padding: 20px 15px;
    }
  }

  &__total-cost {
    @extend %opensans-600;
    font-size: 24px;
    line-height: 1;
    padding: 26px 24px;

    @include mq("phone", max) {
      font-size: 18px;
      padding: 18px 15px;
    }

    &--currency {
      font-size: 18px;
      @include mq("phone", max) {
        font-size: 14px;
      }
    }
  }

  &__checkout-btn {
    border-radius: 0;
    text-align: center;
    width: 100%;
  }
}
