.dropdown {
  position: relative;
  @extend %opensans-600;
  letter-spacing: 0.03em;
  line-height: 1.4;
  background-image: url("../images/icons/navigation.svg");
  background-repeat: no-repeat;
  background-position: 18px 50%;
  color: $green-900;
  background-color: #ffffff;
  width: 242px;
  padding: 15px 40px 15px 60px;
  border-radius: 6px;
  border-bottom: 1px solid #e0edcf;
  margin-right: 30px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.15s;

  &__menu-img,
  &__arrow-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s;
  }

  &__menu-img {
    fill: $green-900;
    left: 18px;
  }

  &__arrow-img {
    fill: #7cb238;
    right: 18px;
  }

  &:hover {
    background-color: $green-200;
    position: relative;
    border-radius: 6px 6px 0 0;

    .dropdown__list {
      opacity: 1;
      visibility: visible;
    }

    .dropdown__arrow-img {
      top: 48%;
      transform: rotate(180deg);
    }
  }

  &__list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    background-color: $white;
    color: $black;
    z-index: 5;
    border-radius: 0 0 6px 6px;
    top: 50px;
    left: 0;
    right: 0;
    transition: opacity 0.3s linear, visibility 0s linear 0.1s, color 0.3s;
  }

  &__item,
  &__link {
    outline: transparent;
    transition: border-color 0.3s, color 0.1s;
  }

  &__item {
    border: 1px solid #ebebeb;
    padding: 3px;
    left: 0;
    right: 0;

    &:hover {
      color: $green-900;
      border-left: 3px solid $green-900;
      padding-left: 1px;
    }

    &:last-child {
      border-radius: 0 0 6px 6px;
    }
    &:not(:last-child) {
      border-bottom: none;
    }
  }

  &__link {
    @extend %opensans-400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    padding: 15px 24px;
    display: block;

    &:focus {
      box-shadow: 0 0 0 3px $green-200;
    }

    &:active {
      color: $silver-600;
    }
  }
}