.header-top {
  background-color: $dark-800;
  @extend %opensans-700;
  font-size: 13px;
  line-height: 1.38;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.03em;

  &__inner {
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 48px;

      @include mq("tablet-2", max) {
        margin-right: 30px;
      }
    }
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    row-gap: 14px;

    @include mq("tablet", max) {
      width: 100%;
      justify-content: space-between;
    }
  }

  &__link {
    display: flex;
    align-items: flex-end;
  }

  &__text {
    @include mq("tablet", max) {
      display: none;
    }
  }

  &__link,
  &__menu-link {
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      box-shadow: 0px 0px 0px 3px #eff6e7;
      border-radius: 3px;
      outline: transparent;
    }

    &:active {
      color: $green-200;
    }
  }

  &__img {
    margin-right: 12px;
    fill: $white;

    @include mq("tablet", max) {
      margin: 0;
    }
  }

  &__menu {
    @include mq("tablet", max) {
      display: none;
    }
  }

  &__menu-items {
    display: flex;
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 14px;
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.logo {
  margin: 25px 24px 25px 0;
  display: inline-block;
  outline: transparent;
  max-width: 200px;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 4px $green-200;
    border-radius: 6px;
  }

  &__img {
    display: inline-block;

    &--mobile {
      display: none;
      width: 36px;
    }

    @include mq("tablet", max) {
      width: 80%;
    }

    @include mq("phone", max) {
      display: none;

      &--mobile {
        display: inline-block;
      }
    }
  }

  @include mq("desktop", max) {
    margin-right: 15px;
  }

  @include mq("tablet-2", max) {
    margin: 5px 0;
  }

  @include mq("phone", max) {
    width: auto;
  }
}

.header-bottom {
  background-color: $green-900;
  letter-spacing: 0.03em;
  max-height: 110px;

  &__inner {
    display: flex;
    align-items: center;
    position: relative;

    @include mq("tablet", max) {
      justify-content: space-between;
      height: 62px;

      .dropdown {
        display: none;
      }
    }
  }

  &__search-form {
    max-width: 576px;
    min-width: 330px;
    margin-right: 50px;
    width: 100%;
    position: relative;
    line-height: 1.4;
    border-color: transparent;

    @include mq("desktop", max) {
      margin-right: 15px;
    }

    @include mq("tablet-2", max) {
      height: 48px;
      position: absolute;
      bottom: -48px;
      min-width: calc(100% + 30px);
      left: -15px;
      right: -15px;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s;
    }

    @include mq("tablet-2", max) {
      &--active {
        z-index: 2;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__search-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 13px;
  }

  &__search-input {
    width: 100%;
    padding: 15px 165px 15px 50px;
    border: 1px solid transparent;
    outline: transparent;
    border-radius: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 13px;
    letter-spacing: 0.03em;

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    @include mq("desktop", max) {
      padding-right: 120px;
    }

    @include mq("tablet-2", max) {
      height: 48px;
      border: 1px solid $dark-800;
      border-radius: 0;
    }
  }

  &__search-input,
  &__search-input::placeholder {
    color: $dark-800;
  }

  &__search-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 52px;
    background-color: $dark-800;
    border-radius: 0 6px 6px 0;
    border-color: inherit;
    text-transform: uppercase;
    color: $white;
    font-weight: 600;
    letter-spacing: 0.03em;
    max-height: 100%;
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(49, 53, 43, 0.85);
    }

    &:focus {
      box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.5);
    }

    &:active {
      color: rgba(255, 255, 255, 0.5);
      box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    @include mq("desktop", max) {
      padding: 15px 25px;
    }

    @include mq("tablet-2", max) {
      border-radius: 0;
    }
  }
}
