.special {
  background-color: #f5f5f5;

  &__title {
    margin-bottom: 32px;
  }

  &__filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  &__filter-item:not(:last-child) {
    margin-right: 30px;
  }

  &__filter-btn {
    @extend %filter-btn;
  }

  &__filter-btn.mixitup-control-active {
    border-bottom: 3px solid $green-200;
  }

  &__list {
    display: flex;
    margin-bottom: 50px;
  }

  &__more {
    text-align: center;
  }
}
