.catalog {
  &__inner {
    padding: 0 0 72px;
    display: flex;

    @include mq("tablet", max) {
      justify-content: center;
      padding: 0 0 36px;
    }
  }

  &__title {
    @extend %ruda-700;
    letter-spacing: 0.03em;
    color: $dark-900;
    font-size: 42px;
    line-height: 1.2;
    padding: 48px 0;

    @include mq("tablet", max) {
      padding: 30px 0;
      font-size: 30px;
    }
  }

  &__filters {
    margin-right: 30px;

    &.catalog__filters--active {
      @include mq("tablet-2", max) {
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        overflow: auto;
        height: 100vh;
        padding: 76px 0 30px;

        .filters__close-btn {
          display: block;
        }
      }
    }

    @include mq("tablet-2", max) {
      display: none;
    }
  }
}

.catalog-content {
  max-width: 100%;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    margin-bottom: 48px;

    &--list {
      grid-template-columns: 1fr 1fr;
      width: 100%;

      & .catalog-content__item {
        min-width: 466px;
        height: 162px;
      }
    }

    @include mq("tablet", max) {
      grid-template-columns: 1fr 1fr;
      margin-bottom: 24px;
    }

    @include mq("phone", max) {
      gap: 5px;
    }
  }

  &__item {
    height: 410px;
    max-width: 300px;
    min-width: 170px;

    & .product {
      column-gap: 18px;

      .available {
        margin: auto 0;

        @include mq("phone", max) {
          font-size: 8px;
        }
      }

      .product__img {
        @include mq("tablet", max) {
          max-height: 180px;
        }

        @include mq("phone", max) {
          max-height: 120px;
        }
      }

      .product__link {
        margin: 57px 0 0;
      }

      .product__subinfo {
        display: flex;
        justify-content: space-between;
        padding: 0 18px;
        height: 15px;
        margin-bottom: 6px;
        z-index: 1;

        @include mq("phone", max) {
          padding: 0 12px;
          margin-top: -10px;
          z-index: 2;
        }
      }

      .product__rating {
        @extend %opensans-700;
        display: flex;
        align-items: center;
        line-height: 1;
        letter-spacing: 0.03em;
        color: $dark-500;

        span {
          margin-right: 3px;
        }

        @include mq("phone", max) {
          font-size: 10px;
        }
      }

      .product__item-title {
        @include mq("tablet", max) {
          margin-bottom: auto;
        }
      }
    }

    & .product.product--list {
      max-width: 466px;
      flex-wrap: wrap;
      justify-content: center;

      .product__img {
        margin: 6px 0 6px 0;
        max-height: 150px;
        width: 200px;
      }

      .product__link {
        margin: 0;
        height: 100%;
        width: 200px;
      }

      .product__subinfo {
        margin-top: 12px;
        margin-right: 18px;
        margin-bottom: 13px;
        padding: 0;
        min-width: 228px;
      }

      .product__favorite-btn {
        top: 57px;
        right: 12px;
      }

      .product__info {
        min-width: 229px;
        padding: 0 18px 12px 0;
      }

      .product__item-title {
        width: 170px;
        padding: 0;
      }

      .product__badges,
      .badges {
        top: 6px;
        left: 7px;
      }
    }

    @include mq("tablet", max) {
      max-width: 100%;
    }

    @include mq("phone", max) {
      height: 344px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .button{
      @include mq("tablet", max) {
       margin-bottom: 24px;
      }
    }

    @include mq("tablet", max) {
      flex-direction: column;
    }
  }
}
