.news {
  padding-bottom: 72px;

  @include mq("phone", max) {
    padding-bottom: 48px;
  }

  &__title {
    @include mq("phone", max) {
      font-size: 24px;
      margin-bottom: 12px;
    }
  }

  &__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq("phone", max) {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 24px;
    }
  }

  &__link-all {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    transition: border-bottom-color 0.3s, color 0.3s;
    @extend %opensans-700;
    color: $green-900;
    padding-bottom: 2px;
    border-bottom: 2px solid $green-900;

    &:hover {
      color: $green-1000;
      border-bottom-color: $green-1000;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;

    @include mq("tablet-2", max) {
      gap: 15px;
    }

    @include mq("tablet", max) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    max-width: 410px;
    width: 100%;
    padding-bottom: 18px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: relative;

    @include mq("tablet-2", max) {
      padding-bottom: 15px;
    }
  }

  &__img {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px;
    margin-bottom: 18px;

    @include mq("tablet-2", max) {
      height: 200px;
      margin-bottom: 15px;
    }
  }

  &__link {
    &:hover {
      .news__item-title {
        color: $green-900;
      }
    }
  }

  &__item-title {
    padding: 0 18px;
    font-size: 16px;
    @extend %opensans-600;
    line-height: 1.5;
    color: $dark-900;
    transition: color 0.3s;
    @include line-clamp(3);
   
    @include mq("tablet-2", max) {
      padding: 0 15px;
      font-size: 14px;
      line-height: 1.4;
    }
  }

  &__date {
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
    text-align: center;
    padding: 18px 2px 10px;
    @extend %opensans-700;
    font-size: 10px;
    line-height: 1.4;
    color: $dark-900;
    position: absolute;
    top: 0;
    left: 20px;
    width: 65px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    span {
      @extend %ruda-600;
      font-size: 30px;
      line-height: 1;
      margin-top: 4px;
      display: block;
    }
  }
}
