<section class="banners">
  <h2 class="banners__title sr-only">Скидки и акции</h2>
  <div class="container">

    <ul class="banners__inner">
      <li class="banners__item banners__item--first" style="background-image: url('images/banners/1.jpg');">
        <div class="banners__subtitle banners__subtitle--first">свежайшие фрукты</div>
        <p class="banners__title banners__title--first">начни фруктовое лето всего от 99 ₽ </p>
        <a class="banners__link banners__link--first" href="#">Перейти к покупкам</a>
      </li>

      <li class="banners__item" style="background-image: url('images/banners/2.jpg');">
        <div class="banners__subtitle">сезонная распродажа</div>
        <p class="banners__title">овощепад
          ДО -50% </p>
        <a class="banners__link" href="#">Перейти к покупкам</a>
      </li>

      <li class="banners__item" style="background-image: url('images/banners/3.jpg');">
        <div class="banners__subtitle">ням-ням</div>
        <p class="banners__title">свежий хлебчик</p>
        <a class="banners__link" href="#">Перейти к покупкам</a>
      </li>
    </ul>

  </div>
</section>