<section class="brands">
  <div class="container">
    <h2 class="brands__title sr-only">Наши бренды</h2>
    <ul class="brands__inner">
      <li class="brands__item" style="background-image: url('images/brands/sprite.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/dr-pepper.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/coca-cola.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/pepsi.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/redbull.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/fanta.svg');">
      </li>
      <li class="brands__item" style="background-image: url('images/brands/coca-cola.svg');">
      </li>
    </ul>
  </div>
</section>