<li class="burger-menu">
  <button class="burger-menu__btn" type="button">
    <svg class="burger-menu__img" width="30" height="22">
      <use xlink:href="images/sprite.svg#icon-burger"></use>
    </svg>
  </button>

  <div class="burger-menu__content">

    <div class="burger-menu__header">
      <a class="burger-menu__logo" href="#">
        <img class="burger-menu__logo-img" src="images/burger-logo.svg" alt="лого" width="200" height="60">
      </a>

      <button class="close-btn burger-menu__close-btn">
        <svg class="close-btn__img" width="18" height="18" fill="#31352B">
          <use xlink:href="images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="burger-menu__login">
      <a class="burger-menu__link" href="#">
        <svg class="burger-menu__login-img" width="25" height="32" fill="#ffffff">
          <use xlink:href="images/sprite.svg#icon-user"></use>
        </svg> Вход
      </a>
      <span class="burger-menu__login-separator">|</span>
      <a class="burger-menu__link" href="#">Регистрация</a>
    </div>

    <div class="burger-menu__dropdown dropdown dropdown--active">
      <svg class="dropdown__menu-img" width="25" height="20">
        <use xlink:href="images/sprite.svg#icon-navigation"></use>
      </svg>
      <svg class="dropdown__arrow-img" width="8" height="4">
        <use xlink:href="images/sprite.svg#icon-arrow-down"></use>
      </svg>

      <div class="dropdown__title">Каталог товаров
      <ul class="dropdown__list dropdown__list--burger">
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Овощи и фрукты</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Бакалея</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Молочные продукты</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Хлеб</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Мясо</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Колбаса</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Рыба</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Алкоголь</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Напитки</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Торты</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Мясо</a></li>
        <li class="dropdown__item">
          <a class="dropdown__link" href="#">Чай, кофе</a></li>
      </ul></div>

    </div>

    <div class="footer footer--burger">

      <div class="footer__top">

        <div class="footer__contacts footer__contacts--burger">

          <p class="footer__contacts-text footer__contacts-text--burger">
            <svg class="footer__contacts-img" width="24" height="24" fill="#31352B">
              <use xlink:href="images/sprite.svg#icon-phone"></use>
            </svg>
            <a class="footer__contacts-tel" href="tel:+7907288365">+7 907 288 365</a>
          </p>

          <p class="footer__contacts-text footer__contacts-text--burger">
            <svg class="footer__contacts-img" width="32" height="32" fill="#31352B">
              <use xlink:href="images/sprite.svg#icon-map"></use>
            </svg>
            Санкт-Петербург, Ул. Ленина, 1
          </p>

          <ul class="footer__social footer__social--burger">
            <li class="footer__social-item">
              <a class="footer__social-link footer__social-link--burger" href="#">
                <span class="sr-only">фейсбук</span>
                <svg class="footer__social-img" width="32" height="32" fill="#ffffff">
                  <use xlink:href="images/sprite.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>

            <li class="footer__social-item">
              <a class="footer__social-link footer__social-link--burger" href="#">
                <span class="sr-only">ютуб</span>
                <svg class="footer__social-img" width="32" height="32" fill="#ffffff">
                  <use xlink:href="images/sprite.svg#icon-youtube"></use>
                </svg>
              </a>
            </li>

            <li class="footer__social-item">
              <a class="footer__social-link footer__social-link--burger" href="#">
                <span class="sr-only">телеграм</span>
                <svg class="footer__social-img" width="32" height="32" fill="#ffffff">
                  <use xlink:href="images/sprite.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>

            <li class="footer__social-item">
              <a class="footer__social-link footer__social-link--burger" href="#">
                <span class="sr-only">инстаграм</span>
                <svg class="footer__social-img" width="32" height="32" fill="#ffffff">
                  <use xlink:href="images/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

        <ul class="footer__menu footer__menu--burger">
          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Доставка</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">О нас</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Новости</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Контакты</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Акции</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Вакансии</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Отзывы</a>
          </li>

          <li class="footer__menu-item">
            <a class="footer__menu-link footer__menu-link--burger" href="#">Публичная оферта</a>
          </li>

        </ul>

      </div>



    </div>
  </div>
</li>