<section class="special">
  <div class="container" data-ref="container-2">
    <h2 class="special__title title">Акции</h2>
    <ul class="special__filter">
      <li class="special__filter-item">
        <button class="special__filter-btn special__filter-btn--active" data-filter="all">Все товары</button>
      </li>
      <li class="special__filter-item">
        <button class="special__filter-btn" data-filter=".product--new">НовИНКИ</button>
      </li>
      <li class="special__filter-item">
        <button class="special__filter-btn" data-filter=".product--hit">ХИТЫ</button>
      </li>
    </ul>

    <ul class="special__list">

      <li class="special__item mix product--new">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge product__badge--new">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-15.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Ананас, 1 кг</h3>

            <span class="product__available">В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">999<span class="product__price--currency">₽</span><span
                        class="product__price--old">1999 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.5</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--new">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge product__badge--new">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-16.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Кофе с коноплей органический Caffé
              Salomoni 250г
            </h3>

            <span class="product__available product__available--ends-soon">ЗАКАНЧИВАЕТСЯ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">777<span class="product__price--currency">₽</span><span
                        class="product__price--old">877 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.9</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--new">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge product__badge--new">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-9.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Клубника, 1 кг</h3>

            <span class="product__available product__available--not">НЕТ В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">440<span class="product__price--currency">₽</span><span
                        class="product__price--old">600 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>5.0</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--new">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge product__badge--new">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-10.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Манго, 1 шт</h3>

            <span class="product__available product__available">В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">660<span class="product__price--currency">₽</span><span
                        class="product__price--old">960 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>5.0</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--new">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge product__badge--new">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-11.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Лосось, 1 кг</h3>

            <span class="product__available product__available">В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">999<span class="product__price--currency">₽</span><span
                        class="product__price--old">1199 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.5</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--hit">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge product__badge--hit">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-12.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Сок Granini овощной 100%, 0.5л</h3>

            <span class="product__available product__available--ends-soon">ЗАКАНЧИВАЕТСЯ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">180<span class="product__price--currency">₽</span><span
                        class="product__price--old">230 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.9</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--hit">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge product__badge--hit">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-13.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Фруктовая корзина, 1 шт</h3>

            <span class="product__available product__available">В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">3990<span class="product__price--currency">₽</span><span
                        class="product__price--old">5990 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.8</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

      <li class="special__item mix product--hit">
        <article class="product">
          <ul class="product__badges">
            <li class="product__badge">Новинка</li>
            <li class="product__badge">-30%</li>
            <li class="product__badge product__badge--hit">хит</li>
          </ul>

          <a class="product__link--special" href="#">
            <img class="product__img product__img--special" src="images/products/product-14.jpg" alt="товар">
          </a>

          <div class="product__info product__info--special">
            <h3 class="product__item-title product__item-title--special">Свинина мякоть, 1 кг</h3>

            <span class="product__available product__available">В НАЛИЧИИ</span>
            <div class="product__box">
              <div class="product__price product__price--special">
                <span class="product__price--new">499<span class="product__price--currency">₽</span><span
                        class="product__price--old">960 ₽</span></span>
              </div>

              <div class="product__rating">
                <span>4.6</span>
                <svg class="product__rating-img" width="16" height="16" fill="#ffb800">
                  <use xlink:href="images/sprite.svg#icon-star"></use>
                </svg>
              </div>
            </div>
          </div>
        </article>
      </li>

    </ul>

    <div class="special__more">
      <a class="button" href="#">Показать ещё</a>
    </div>

  </div>
</section>